<h1> Tournaments</h1>
<h2> Please see tournaments down below: </h2>

<% @tournaments.each do |tournament| %>
  <h3><%= tournament.name %></h3>
  <!-- <p> Course: <%= tournament.course %></p>
  <p> Date: <%= tournament.date %></p>
  <p> Entry fee: $ <%= tournament.entry_fee %></p>
  <p> Professionals only: <%= tournament.pdga_members_only %></p> -->
<% end %>
