<h1><%= @tournament.name %> </h1>
  <p> Course: <%= @tournament.course %></p>
  <p> Date: <%= @tournament.date %></p>
  <p> Entry fee: $ <%= @tournament.entry_fee %></p>
  <p> Professionals only: <%= @tournament.pdga_members_only %></p>
  <p> Current no. of discgolfers: <%= @tournament.count %></p>
